body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: #f6f8fb;
}

.about-page {
    padding: 40px 60px;
}

/* MAIN TITLE */
.about-page h2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

/* IMAGE + TEXT */
.intro-row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* IMAGE STYLE */
.about-img {
    width: 280px;
    height: 320px;
    border-radius: 8px;
    background-image: url("../assets/profile\ image.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.about-img:hover {
    transform: scale(1.06);
    transition: transform 0.5s ease-in-out;
}

/* TEXT BLOCK */
.about-text {
    flex: 1;
    min-width: 260px;
}

.about-text h3 {
    font-size: 26px;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
}

.about-text p {
    color: #666;
    line-height: 1.7;
    margin-bottom: 12px;
}

/* DETAILS LIST */
.details p {
    margin: 6px 0;
    font-size: 15px;
}

/* SKILLS SECTION */
.skill-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    letter-spacing: 3px;
}

.skill-boxes {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.skill-card {
    background: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(0,0,0,0.06);
    cursor: pointer;
    transition: 0.2s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

@media(max-width: 720px) {
    .about-img {
        width: 100%;
        height: 260px;
    }
}
.Button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #2a90d5;
    color: white;
    border-radius: 4px;
    cursor: pointer;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
}
